%--- Dependencies -------------------------------------------------------------

{deps, [
    % Runtime dependencies
    {hackney, "", {git, "git://github.com/benoitc/hackney.git"}},
    {erlsha2, "", {git, "git://github.com/vinoski/erlsha2.git"}},
    % Test and documentation dependencies
    {unite,   "", {git, "git://github.com/eproxus/unite.git"}},
    {edown,   "", {git, "git://github.com/uwiger/edown.git"}}
]}.

%--- Compile & Test -----------------------------------------------------------

{erl_opts, [
    warn_export_all,
    warn_export_vars,
    warn_shadow_vars,
    warn_obsolete_guard,
    warn_unused_import,
    warnings_as_errors
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls
]}.

{cover_enable, true}.

{eunit_opts, [no_tty, {report, {unite_compact, []}}]}.

%--- Documentation ------------------------------------------------------------

{edoc_opts, [
    {doclet, edown_doclet},
    {top_level_readme, {
        "./README.md",
        "https://github.com/eproxus/elementary"
    }},
    {stylesheet, ""},
    {image, ""}
]}.

{clean_files, [
    "doc/edoc-info",
    "doc/utf8"
]}.
